body{
		background: black;
		color:	white;
		font-family: arial;
		text-align: center;
		margin: 0;
	}
	
header{
		margin: 0;
		background: #555;
		color: black;
		}
		
.button{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
}

nav{
	margin-left: 300px;
}
	
nav ul{
	text-align: left;
	padding: 1px 1px;
}

nav ul li{
	margin: 0;
	display: inline-block;
	background: black;
	color: white;
}

nav ul li a{
	color: white;
}

.secondary{	
			background: gray;
			color: black;
			}
			
.demo{
	float: right;
}

.img1{
	float: left;
	padding: 10px 50px 10px 190px;
	width: 35%;
	height: 40%;
	margin-bottom: 25px;
	margin-top: 50px;
}

.col1{
	background: #333;
	float:left;
	padding: 70px 50px 10px 70px;
	margin:.5%;
	width: 24%;
	height: 190px;
	margin-bottom: 33px;
	margin-top: 58px;
}

.col2{
	background: #333;
	float:left;
	padding: 70px 50px 10px 70px;
	width: 26%;
	height: 200px;
	margin: 50px 30px 50px 190px;
	display: inline-block;
	}

.img2{
	width: 33%;
	height: 42.25%;
	margin: 50px 180px 0 20px;
}

.img3{
	float: left;
	margin-top: 50px;
	margin-left: 190px;
	height: 42.25%;
	width: 35%;
	clear: both;
}

.col3{
	background: #666;
	float:left;
	margin:50px 90px 50px 55px;
	padding: 70px 50px 10px 70px;
	width: 24%;
	height: 200px;
	}

.col4{
	background: #777;
	float:left;
	margin:50px 30px 20px 190px;
	height: 200px;
	padding: 70px 50px 10px 70px;
	width: 26.25%;
	clear: both;
	}

.img4{
	width: 33%;
	height: 42.25%;
	margin: 50px 160px 0 0 ;	
}

footer{
	float: left;
	clear:both;
}
			
			